.button{
	display: inline-block;
	overflow: hidden;
	padding: 0.8rem 2rem;
/* WHITE TRANSPARENT BUTTON */
	&.colored-bg{
		color: $white !important;
		background-color: transparent;
		border: solid 2px $white;
		&:hover{
			background: rgba(255,255,255,0.2);
		}
		&:active{
			background: rgba(255,255,255,0.4);
		}
	}
	&.small{
		padding: 0.5rem 1rem;
	}
/* CORPORATE COLORS primary-color */
	&.primary-color-color{
		color: $primary-color;
		background-color: transparent;
		border: solid 2px $primary-color;
		&:hover{
			background: scale-color($primary-color, $lightness: 80%);
		}
		&:active{
			background: scale-color($primary-color, $lightness: 60%);
		}
	}
}
