label{
	color: $white;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
	box-shadow: none;
	border: none;
	font-size: 1rem;
	margin-bottom: 40px;
	color:$white;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"]{
	border-bottom: solid 3px $white;
	background: none;
	padding: 0;
	color:$white;
	&:hover, &:focus, &:active{
		border-bottom: solid 3px $secondary-color;
		background: none;
	}
}
textarea{
	min-height: 150px;
	border: solid 3px $white;
	margin-top: 20px;
	background: none;
	color:$white;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	&:hover, &:focus, &:active{
		border: solid 3px $secondary-color;
		background: none;
	}
}

::-webkit-input-placeholder {
   color: $white;
}

:-moz-placeholder { /* Firefox 18- */
   color: $white;

}

::-moz-placeholder {  /* Firefox 19+ */
   color: $white;
}

:-ms-input-placeholder {
   color: $white;
}

button.button{
	width: 150px;
}

p.error{
	text-transform: uppercase;
	font-weight: 600;
	color: $warning-color;
	background-color: $white;
	padding: 15px;
	border-radius: 3px;
	border: solid $white 2px;
}
#success_page{
	background-color: $white;
	padding: 15px;
	border-radius: 3px;
	border: solid $white 2px;
}
