label{
	color: $white;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
	box-shadow: none;
	border: none;
	font-size: 1rem;
	margin-bottom: 40px;
	color:$white;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"]{
	border-bottom: solid 3px $white;
	background: none;
	padding: 0;
	color:$white;
	&:hover, &:focus, &:active{
		border-bottom: solid 3px $secondary-color;
		background: none;
	}
}
textarea{
	min-height: 150px;
	border: solid 3px $white;
	margin-top: 20px;
	background: none;
	color:$white;
	&:hover, &:focus, &:active{
		border: solid 3px $secondary-color;
		background: none;
	}
}
