input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
	box-shadow: none;
	border: none;
	font-size: 18px;
	margin-bottom: 30px;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"]{
	border-bottom: solid 2px $jumbo;
	background: none;
	padding: 0;
	&:hover, &:focus, &:active{
		border-bottom: solid 2px $white;
		background: none;
	}
}
textarea{
	min-height: 150px;
	border: solid 2px $jumbo;
	margin-top: 20px;
	&:hover, &:focus, &:active{
		border: solid 2px $white;
		background: none;
	}
}
