*{
   margin: 0;
   padding: 0;
}

.fullWidth{
   max-width: 100% !important;
}

#preload{
	position: absolute;
	top:0px;
	left: 0;
	z-index: 99999999;
	height: 1000%;
	width: 100%;
	overflow: hidden;
	background: $white;
}

// html.noScroll, body.noScroll{
//    overflow: hidden;
//    height: auto;
// }
header{
   &#home{
      height: 100%;
      width: 100%;
      opacity: 1;
      #infoBox{
         position: absolute;
         height: 210px;
         width: 100%;
         bottom: 0;
         z-index: 100;
         background-color: rgba(0,184,212,0.5);
         h4, h5{
            color: $white;
         }
         h4{
            padding: 15px 0
         }
         h5, form{
            padding: 0;
         }
         input{
            padding-right: 10px;
         }
         a.button.postfix{
            width: 120px;
            padding: 6px 0;
            text-align: center;
            vertical-align: middle;
            display: inline-table;
            margin-top: -9px;
            background-color: transparent;
            border: solid 3px $white;
            color: $white;
      		background-color: transparent;
            margin-left: -7px;
            @include css-transition($short-transition);
            &:hover, &:active{
               border: solid 3px $white;
               background: $white;
               color: $primary-color;
            }
         }
      }
   }
}
@media #{$small-landscape-only}{
   header{
      &#home{
         height: 200%;
         #infoBox{
            bottom: -100%;
         }
      }
   }
}
section{
   width: 100%;
   padding: 60px 0;
   &#s1{
      padding: 60px 0 0px 0;
      background-color: $white;
      #intro{
         padding-bottom: 60px;
      }
      #benefits{
         padding: 0 15px;
         > div {
            border-left: solid 3px $info-color;
            span{
               color: $primary-color;
               display: inline-block;
               padding: 20px;
               border: solid 3px scale-color($primary-color, $lightness: 80%);
               border-radius: 100%;
               -webkit-border-radius: 100%;
               -moz-border-radius: 100%;
               text-align: center;
               height: 80px;
               width: 80px;
               margin-bottom: 5px;
            }
            p{
               margin-bottom: 0;
            }
         }
      }
      #community{
         margin-top: 75px;
         height: auto;
         width: 100%;
         opacity: 1;
         background-image: url("../img/community.jpg");
      	background-size: cover;
      	background-position: 50% 50%;
         background-repeat: no-repeat;
         > div > div {
            background-color: rgba(0,184,212,0.6);
            padding: 0 15px;
         }
         h2{
            color: $white;
            padding-top: 60px;
            margin-bottom: 0;
         }
         h4{
            color: $white;
            margin-top: 0;
         }
         p{
            color: $white;
            padding-top: 15px;
            padding-bottom: 45px;
         }
      }
   }
   &#s2{
      background-color: $snow;
      img{
         height: 80px;
         width: 80px;
         border-radius: 100%;
         -webkit-border-radius: 100%;
         -moz-border-radius: 100%;
         margin-bottom: 8px;
      }
      h3{
         display: inline;
         padding-left: 15px;
      }
   }
   &#s3{
      background-color: $primary-color;
      h2, h3, p{
         color: $white;
      }
      img{
         &.btm45{
            padding-bottom: 45px;
         }
      }
   }
}
#form{
   width: 100%;
   position: absolute;
   z-index: 999;
   background: rgba(0,184,212,0.75);
   h2{
      color: $white;
   }
   a.colored-bg.button{
      min-width: 175px;
      margin-right: 15px;
      margin-top: -15px;
   }
}
div#map-canvas{
   height: 750px;
}

footer{
   background-color: $primary-color;
   padding: 0 0 15px 0;
   hr{
      border: solid $white;
      border-width: 3px 0 0 0;
      margin: 0 0 5px 0;
      border-radius: 3px;
   	-webkit-border-radius: 3px;
   	-moz-border-radius: 3px;
   }
   small, a{
      color: $white;
      margin: 5px 0 15px 0;
      font-size: rem-calc(13);
      &:hover, &:active, &:visited{
         color: $white;
      }
   }
}
@media #{$medium-up}{
   header{
      &#home{
         #infoBox{
            width: calc(50vw - 15px);
            height: calc(40vw - 15px);
            right: 0;
            bottom: -72px;
            max-height: 563px;
            max-width: 563px;
            h4{
               padding: 60px 15px 0 15px
            }
            h5, form{
               padding: 0 15px;
            }

         }
      }
   }
   section{
      &#s1{
         #benefits{
            >div{
               p{
                  margin-bottom: -6px;
                  max-width: 340px;
               }
            }
         }
         #community{
            height: 600px
         }
      }
      &#s3{
         padding-bottom: 30px;
         img{
            &.btm45{
               padding-bottom: 0;
            }
         }
      }
   }
   #form{
      width: 50vw;
   }
   div#map-canvas{
      height: 775px;
      img{
         max-width : none;
      }
   }
}
@media #{$large-up}{
   header{
      &#home{
         #infoBox{
            width: 50vw;
            height: 30vw;
            left: calc(50vw + 15px);
            bottom: -104px;
            h4{
               padding: 65px 30px 0 30px
            }
            h5, form{
               padding: 0 30px;
            }
            a.button.postfix{
               width: 140px;
            }
         }
      }
   }
   section{
      padding: 90px 0;
      &#s1{
         padding: 90px 0 0 0;
         #community{
            > div > div {
               width: calc(50% - 15px);
               margin-left: 15px;
               padding: 0 45px;
            }
         }
      }
   }
   div#map-canvas, #form{
      height: 850px;
   }
}

@media #{$xlarge-up}{
   header{
      &#home{
         #infoBox{
            bottom: -133px;
            height: 397px;
         }
      }
   }
   section{
      padding: 120px 0;
      &#s1{
         padding: 120px 0 0 0
      }
   }
   #form, div#map-canvas{
      height: 850px;
   }
}
