*{
   margin: 0;
   padding: 0;
}

.fullWidth{
   max-width: 100% !important;
}

#preload{
	position: absolute;
	top:0px;
	left: 0;
	z-index: 99999999;
	height: 1000%;
	width: 100%;
	overflow: hidden;
	background: $white;
}

// html.noScroll, body.noScroll{
//    overflow: hidden;
//    height: auto;
// }
header{
   &#home{
      height: 100%;
      width: 100%;
      opacity: 1;
   }
}

@media #{$medium-up-portrait}{
   header{
      max-height: 50vw;
   }
}
section{
   width: 100%;
   padding: 60px 0;
   &#s1{
      background-color: $white;
      #intro{
         padding-bottom: 60px;
      }
      #benefits{
         padding: 0 15px;
         >div{
            border-left: solid 3px $info-color;
            span{
               color: $primary-color;
               display: inline-block;
               padding: 20px;
               border: solid 3px scale-color($primary-color, $lightness: 80%);
               border-radius: 100%;
               -webkit-border-radius: 100%;
               text-align: center;
               height: 80px;
               width: 80px;
               margin-bottom: 5px;
            }
            p{
               margin-bottom: -6px;
               max-width: 350px;
            }
         }
      }
   }
   &#s2{
      background-color: $oil;
   }
   &#s3{
      background-color: $silver;
   }
}

@media #{$large-up}{
   section{
      padding: 120px 0;
   }
}
