*{
   margin: 0;
   padding: 0;
}
.row .row{
   margin: 0!important;
}
.fullWidth{
   max-width: 100% !important;
}

#preload{
	position: absolute;
	top:0;
	left: 0;
	z-index: 99999999;
	height: 1000%;
	width: 100%;
	overflow: hidden;
	background: $white;
}

// html.noScroll, body.noScroll{
//    overflow: hidden;
//    height: auto;
// }
header{
   &#home{
      width: 100%;
      background-position: 100% 0%;
      background-repeat: no-repeat;
      background-color: $snow;
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYjhkNCIgc3RvcC1vcGFjaXR5PSIwLjAxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMGI4ZDQiIHN0b3Atb3BhY2l0eT0iMC43NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-linear-gradient(top,  rgba(0,184,212,0.01) 0%, rgba(0,184,212,0.75) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,184,212,0.01)), color-stop(100%,rgba(0,184,212,0.75))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(0,184,212,0.01) 0%,rgba(0,184,212,0.75) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(0,184,212,0.01) 0%,rgba(0,184,212,0.75) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(0,184,212,0.01) 0%,rgba(0,184,212,0.75) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(0,184,212,0.01) 0%,rgba(0,184,212,0.75) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0300b8d4', endColorstr='#bf00b8d4',GradientType=0 ); /* IE6-8 */
      opacity: 1;
      > div{
         padding: 90px 0;
         b{
            color: $snow;
            font-family: 'coco_gothicheavy', sans-serif;
            font-size: 15vw;
            margin: 0;
            padding: 0;
            line-height: 1;
            padding-top: 60px;
            span{
               font-size: 50%;
            }
         }
         h1{
            color: $snow;
            font-family: 'coco_gothiclight', sans-serif;
            font-size: 12vw;
         }
      }
      #infoBox{
         position: absolute;
         height: 210px;
         width: 100%;
         bottom: 0;
         z-index: 100;
         background-color: $primary-color;
         h4, h5{
            color: $white;
         }
         h4{
            padding: 15px 0
         }
         h5, form{
            padding: 0;
         }
         input{
            padding-right: 10px;
         }
         a.button.postfix{
            width: 120px;
            padding: 6px 0;
            text-align: center;
            vertical-align: middle;
            display: inline-table;
            margin-top: -9px;
            background-color: transparent;
            border: solid 3px $white;
            color: $white;
      		background-color: transparent;
            margin-left: -7px;
            @include css-transition($short-transition);
            &:hover, &:active{
               border: solid 3px $white;
               background: $white;
               color: $primary-color;
            }
         }
      }
   }
}
@media #{$small-phones}{
   header{
      &#home{
         height: 125%;
         #infoBox{
            bottom: -25%;
         }
      }
   }
}
@media #{$small-landscape-only}{
   header{
      &#home{
         height: 200%;
         #infoBox{
            bottom: -100%;
         }
      }
   }
}
section{
   width: 100%;
   padding: 60px 0;
   &#preview{
      padding: 0;
      background-color: rgba(0,184,212,0.75);
      >div >div{
         min-height: 200px;
         @include css-transition($short-transition);
         &:hover{
            cursor: pointer;
         }
         h4{
            color: $white;
            padding: 80px;
         }
         &.lighter{
            background-color: lighten($primary-color, 15%);
            &:hover, &:active{
               background-color: lighten($primary-color, 5%);
            }
         }
         &.primary-color{
            background-color: $primary-color;
            &:hover, &:active{
               background-color: darken($primary-color, 5%);
            }
         }
         &.darker{
            background-color: darken($primary-color, 10%);
            &:hover, &:active{
               background-color: darken($primary-color, 15%);
            }
         }
      }

   }
   &#about{
      background-color: $white;
      h2{
         padding-top: 45px;
      }
      fieldset{
         border: solid 3px $primary-color;
         border-radius: 10px;
         -webkit-border-radius: 10px;
         -moz-border-radius: 10px;
         legend{
            text-align: right;
            font-size: $h2-font-size;
            padding: 0 10px;
         }
      }
      #benefits{
         padding: 0 15px;
         padding-top: 5px;
         > div {
            border-left: solid 3px $info-color;
            span{
               color: $primary-color;
               display: inline-block;
               padding: 20px;
               border: solid 3px scale-color($primary-color, $lightness: 80%);
               border-radius: 100%;
               -webkit-border-radius: 100%;
               -moz-border-radius: 100%;
               text-align: center;
               height: 80px;
               width: 80px;
               margin-bottom: 5px;
            }
            p{
               margin-bottom: 0;
            }
         }
      }
      #community{
         margin-top: 75px;
         height: auto;
         width: 100%;
         opacity: 1;
         background-image: url("../img/community-b8.jpg");
      	background-size: cover;
      	background-position: 50% 50%;
         background-repeat: no-repeat;
         > div > div {
            background-color: rgba($primary-color,0.75);
            padding: 0 15px;
         }
         h2{
            color: $white;
            padding-top: 60px;
            margin-bottom: 0;
         }
         h4{
            color: $white;
            margin-top: 0;
         }
         p{
            color: $white;
            padding-top: 15px;
            padding-bottom: 45px;
         }
      }
   }
   &#projects{
      background: $primary-color;
      h4, h5{
         color: $white;
      }
      h4{
         padding: 15px 0
      }
      h5, form{
         padding: 0;
      }
      input{
         padding-right: 10px;
      }
      a.button.postfix{
         width: 120px;
         padding: 6px 0;
         text-align: center;
         vertical-align: middle;
         display: inline-table;
         margin-top: -9px;
         background-color: transparent;
         border: solid 3px $white;
         color: $white;
         background-color: transparent;
         margin-left: -7px;
         @include css-transition($short-transition);
         &:hover, &:active{
            border: solid 3px $white;
            background: $white;
            color: $primary-color;
         }
      }
   }
   &#people{
      background-color: $snow;
      .pplPic{
         height: 80px;
         width: 80px;
         float: left;
         padding-top: 15px;
         img{
            height: 80px;
            width: 80px;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
         }
      }
      .pplDesc{
         padding-left: 95px;
         padding-top: 15px;
         span{
            margin-top: 15px;
            display: inline;
         }
         i{
            display: inline;
         }
         a.button.tiny{
            padding: 0.4rem 0.8rem;
            margin-top: 5px;
         }
      }
   }
   &#partners{
      background-color: $primary-color;
      h2, h3, p{
         color: $white;
      }
      img{
         &.btm45{
            margin-bottom: 45px;
         }
         &.retinaLogo{
            max-height: 75px;
            width: auto;
         }
      }
   }
}
#contact{
   background-color: rgba($primary-color, 0.75);
   h2{
      color: $white;
   }
   a.colored-bg.button{
      min-width: 175px;
   }
}

footer{
   background-color: $primary-color;
   padding: 0 0 15px 0;
   hr{
      border: solid $white;
      border-width: 3px 0 0 0;
      margin: 0 0 5px 0;
      border-radius: 3px;
   	-webkit-border-radius: 3px;
   	-moz-border-radius: 3px;
   }
   small, a{
      color: $white;
      margin: 5px 0 15px 0;
      font-size: rem-calc(13);
      &:hover, &:active, &:visited{
         color: $white;
      }
   }
}
@media #{$medium-up}{
   header{
      &#home{
         >div{
            h1{
               font-size: 8vw;
            }
         }
         #infoBox{
            width: calc(50vw - 15px);
            height: calc(40vw - 15px);
            right: 0;
            bottom: -72px;
            max-height: 563px;
            max-width: 563px;
            h4{
               padding: 60px 15px 0 15px
            }
            h5, form{
               padding: 0 15px;
            }

         }
      }
   }
   section{
      &#about{
         #benefits{
            >div{
               margin-bottom: 45px;
               p{
                  margin-bottom: -6px;
               }
            }
         }
         #community{
            height: 600px
         }
      }
      &#partners{
         padding-bottom: 30px;
         img{
            &.btm45{
               padding-bottom: 0;
            }
         }
      }
   }
}
@media #{$large-up}{
   header{
      &#home{
         > div{
            padding-top: 180px;
            b{
               font-size: rem-calc(144);
            }
            h1{
               font-size: rem-calc(64);
            }
         }

         #infoBox{
            width: calc(50vw -15px);
            height: 30vw;
            left: calc(50vw + 15px);
            bottom: -104px;
            h4{
               padding: 65px 30px 0 30px
            }
            h5, form{
               padding: 0 30px;
            }
            a.button.postfix{
               width: 140px;
            }
         }
      }
   }
   section{
      padding: 90px 0;
      &#about{
         #benefits{
            > div{
               min-height: 305px;
            }
         }
         #community{
            > div > div {
               width: calc(50% - 15px);
               margin-left: 15px;
               padding: 0 45px;
            }
         }
      }
   }
}

@media #{$xlarge-up}{
   header{
      &#home{
         #infoBox{
            bottom: -133px;
            height: 397px;
         }
         h1{
            font-size: rem-calc(80);
         }
      }
   }
   section{
      &#about{
         #benefits{
            > div{
               min-height: 280px;
            }
         }
      }
   }
}

@media #{$xxlarge-up}{
}
