@font-face {
    font-family: 'coco_gothiclight';
    src: url('../fonts/coco_gothic_light.eot');
    src: url('../fonts/coco_gothic_light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/coco_gothic_light.woff2') format('woff2'),
         url('../fonts/coco_gothic_light.woff') format('woff'),
         url('../fonts/coco_gothic_light.ttf') format('truetype'),
         url('../fonts/coco_gothic_light.svg#coco_gothiclight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'coco_gothicregular';
    src: url('../fonts/coco_gothic_regular.eot');
    src: url('../fonts/coco_gothic_regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/coco_gothic_regular.woff2') format('woff2'),
         url('../fonts/coco_gothic_regular.woff') format('woff'),
         url('../fonts/coco_gothic_regular.ttf') format('truetype'),
         url('../fonts/coco_gothic_regular.svg#coco_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'coco_gothicheavy';
    src: url('../fonts/coco_gothic_heavy.eot');
    src: url('../fonts/coco_gothic_heavy.eot?#iefix') format('embedded-opentype'),
         url('../fonts/coco_gothic_heavy.woff2') format('woff2'),
         url('../fonts/coco_gothic_heavy.woff') format('woff'),
         url('../fonts/coco_gothic_heavy.ttf') format('truetype'),
         url('../fonts/coco_gothic_heavy.svg#coco_gothicheavy') format('svg');
    font-weight: normal;
    font-style: normal;

}
@import url(//fonts.googleapis.com/css?family=Roboto);
p, h5.subheader, label, input, textarea{
   font-family: 'Roboto', sans-serif !important;
}

p, h5.subheader{
   color: $charcoal;
}
p{
   margin-bottom: 0;
}
